body.collection {
     background-image: url(../assets/images/blurred_backgrounds/blur_bg_2.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center center;
     background-size: cover;
 }
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> checkpoint16
 
 .album-covers {
     position: relative;
 }
 

 .album-covers {
     position: relative;
 }

<<<<<<< HEAD
=======
>>>>>>> b287213008b53114748c3e27f90697139f71d7ac
>>>>>>> checkpoint16
 .collection-album-container {
     position: relative;
     margin-top: 30px;
     margin-bottom: 20px;
     text-align: center;
 }
<<<<<<< HEAD

=======
<<<<<<< HEAD
>>>>>>> checkpoint16
 
 .collection-album-container .caption {
     margin-top: 10px;
 }


 .collection-album-container .caption {
     margin-top: 10px;
 }

<<<<<<< HEAD

=======
>>>>>>> b287213008b53114748c3e27f90697139f71d7ac
>>>>>>> checkpoint16
 .collection-album-container .caption p {
     font-size: 1rem;
     font-weight: 300;
     color: rgba(255, 255, 255, 0.6);
 }
<<<<<<< HEAD

=======
<<<<<<< HEAD
>>>>>>> checkpoint16
 
 .collection-album-container .caption p a {
     color: rgba(255, 255, 255, 0.6);
 }
 
 .collection-album-container .caption p a.album-name {
     color: white;
 }
 
 .collection-album-container img {
     width: 80%;
 }


 .collection-album-container .caption p a {
     color: rgba(255, 255, 255, 0.6);
 }

 .collection-album-container .caption p a.album-name {
     color: white;
 }

.collection-album-container img {
     width: 80%;
 }
<<<<<<< HEAD

=======
>>>>>>> b287213008b53114748c3e27f90697139f71d7ac
>>>>>>> checkpoint16
